#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "locale/keys_ja.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp ESC         &kp N1    &kp N2  &kp N3  &kp N4          &kp N5       &kp N6       &kp N7         &kp N8     &kp N9   &kp N0                   &kp LS(LG(S))
&kp TAB         &kp Q     &kp W   &kp E   &kp R           &kp T        &kp Y        &kp U          &kp I      &kp O    &kp P                    &kp LEFT_WIN
&kp LEFT_SHIFT  &kp A     &kp S   &kp D   &kp F           &kp G        &kp H        &kp J          &kp K      &kp L    &kp MINUS                &kp RIGHT_SHIFT
&kp LCTRL       &kp Z     &kp X   &kp C   &kp V           &kp B        &kp N        &kp M          &kp COMMA  &kp DOT  &kp JP_AT                &kp RCTRL
&mkp MB1        &mkp MB2                  &lt 1 JP_MHEN   &lt 2 SPACE  &lt 3 ENTER  &kp BACKSPACE                      &mt LALT LS(LANGUAGE_2)  &mt LEFT_ALT LANG1
            >;
        };

        FUNCTION {
            bindings = <
&trans  &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &kp F7       &kp F8       &kp F9       &kp F10       &kp F12
&trans  &kp JP_EXLM  &kp JP_DQUO  &kp JP_HASH  &kp JP_DLR   &kp JP_PERC  &kp JP_AMPR  &kp JP_PIPE  &kp JP_EQL   &kp JP_UNDS  &kp JP_TILD   &kp INS
&trans  &kp JP_QUES  &kp JP_QUOT  &kp JP_PLUS  &kp JP_LPRN  &kp JP_RPRN  &kp JP_LBRC  &kp JP_RBRC  &kp JP_SCLN  &kp JP_COLN  &kp JP_CARET  &trans
&trans  &kp JP_PIPE  &kp JP_GRV   &kp JP_ASTR  &kp JP_LBKT  &kp JP_RBKT  &kp JP_LT    &kp JP_GT    &kp JP_SLSH  &kp JP_BSLS  &kp JP_AT     &trans
&trans  &trans                                 &trans       &trans       &trans       &trans                                 &trans        &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &none      &none      &none      &none      &none      &none         &none           &none           &none          &none              &trans
&trans  &kp LC(Q)  &kp LC(W)  &none      &kp LC(R)  &none      &kp LC(HOME)  &kp HOME        &kp UP_ARROW    &kp PAGE_UP    &kp LC(PAGE_UP)    &trans
&trans  &kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &none      &kp LS(TAB)   &kp LEFT_ARROW  &kp RIGHT_ALT   &kp RIGHT      &kp TAB            &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &kp LC(END)   &kp END         &kp DOWN_ARROW  &kp PAGE_DOWN  &kp LC(PAGE_DOWN)  &trans
&trans  &trans                           &trans     &trans     &trans        &trans                                         &trans             &trans
            >;
        };

        BLUETOOTH {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR  &bt BT_CLR_ALL  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none         &none       &none           &none  &none  &none  &none
&none  &none         &none         &none         &none         &none         &none       &none           &none  &none  &none  &none
&none  &none         &none         &none         &none         &none         &none       &none           &none  &none  &none  &none
&none  &none                                     &none         &none         &none       &none                         &none  &none
            >;
        };
    };
};
